.gridContainer{
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.divInputBlock{
  /* border-bottom: 1px solid lightgray; */
  padding: 5px;
}

.divInputBlock label, .divInputBlock input{
  display: block;
}

.divInputBlock input{
  border:none;
  border-bottom: 1px solid lightgray;
  width:100%;
  line-height: 20px;
}